.hide{
    display: none;
}

button{
    color:black;
    background-color: rgb(131, 131, 230);
    padding: 10px;
    display: block;
}

button:hover{
    background-color:rgb(208, 219, 241);
}

initia{
    margin: 10px;
}

.stilo{
    font-size: x-large;
    font-weight: bold;
}